.offer {
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */

  letter-spacing: -0.01em;

  /* Text color */

  color: #001f27;
}
#offercards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.offercard {
  width: 330px;
  height: 372px;
}
.offercard img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.offerrect {
    display: flex;
  flex-direction: column;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
  height: 35%;
  margin-top: -120px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) -14.34%,
    #c4c4c4 116.43%
  );
  text-align: left;
  backdrop-filter: blur(32.5px);
}
.offerrect span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  width:80%;
  margin:3% 10%;
  /* identical to box height, or 120% */
  

  letter-spacing: -0.01em;

  color: #00d2ff;

  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.offer p {
    width:80%;
    margin:0% 10%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* or 131% */
  letter-spacing: -0.01em;
  font-feature-settings: "liga" off;

  color: #ffffff;
}
